<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LeagueDB2024" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=League2024_1F;Integrated Security=True;Trust Server Certificate=True"/>
		<add name="LeagueDB20234" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=League2024_1F;Integrated Security=True;Trust Server Certificate=True"/>
		<add name="LeagueDB2021" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=League2024_1F;Integrated Security=True;Trust Server Certificate=True"/>
	</connectionStrings>
	<appSettings>
		<add key="user" value="LeagueDB2021"/>
	</appSettings>
</configuration>